@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");

:root{
    --cor-de--fundo:#373737;
    --cor-do-menu:#000080;
    --titulo: #2e8b57;
    --cor-do-menu-fundo: #0000CD;
    --link-1:#DC143C;
    --link-2:#F0E68C;
    --link-3:#98FB98;
    --fonte-principal:"Fasthand"
}
body{
    background-color: var(--cor-de--fundo);
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
}
h1{
    color: white;
    font-size: 40;
    line-height: 150%;
    text-align: center;
}

h2{
    text-align: center;
    color: white;
}

h3{
    color: white;
}

p{
    color: white;
}

.lista-menu__titulo{
    color: white;
}

.lista-menu__item{
    display: inline-block;
}

